
<h2>Τουρισμός</h2>
<p>Δαπάνη ανά ταξίδι μη κατοίκων στην Ελλάδα κατά χώρα προέλευσης (Τριμηνιαία)</p>

<div class="card">
    <p-tabView>
        <p-tabPanel header="Πίνακας">
            <p>
                <app-table-tourism [rowData]="rowData" [results]="results" [cols]="cols"></app-table-tourism>
            </p>
        </p-tabPanel>
        <p-tabPanel header="Διαγράμματα">
            <p>
                <app-chart-tourism 
                    [title]="'Δαπάνη ανά ταξίδι μη κατοίκων στην Ελλάδα κατά χώρα προέλευσης (Τριμηνιαία)'"
                    [label]="'Δαπάνη'"
                    [dataLabel]="chartDataLabel"
                    [data]="chartData"
                ></app-chart-tourism>
            </p>
        </p-tabPanel>
        <p-tabPanel header="Χάρτες">
            <p>
                <app-map-tourism></app-map-tourism>
            </p>
        </p-tabPanel>
    </p-tabView>
</div>