<h1>Κατάλογος Dataset</h1>

<nav>
    <ol>
        <li><a [routerLink]="['/tourism', 1]" routerLinkActive="active" ariaCurrentWhenActive="page">
            Δαπάνη ανά ταξίδι μη κατοίκων στην Ελλάδα κατά χώρα προέλευσης (Τριμηνιαία)
        </a></li>
        <li><a [routerLink]="['/tourism', 2]" routerLinkActive="active" ariaCurrentWhenActive="page">
            Δαπάνη ανά ταξίδι κατοίκων στο εξωτερικό κατά χώρα προορισμού (Ετήσια)
        </a></li>
        <li><a [routerLink]="['/tourism', 3]" routerLinkActive="active" ariaCurrentWhenActive="page">
            Δαπάνη ανά διανυκτέρευση μη κατοίκων στην Ελλάδα κατά χώρα προέλευσης (Ετήσια)
        </a></li>
        <li><a [routerLink]="['/tourism', 4]" routerLinkActive="active" ariaCurrentWhenActive="page">
            Δαπάνη ανά διανυκτέρευση κατοίκων στο εξωτερικό κατά χώρα προορισμού (Ετήσια)
        </a></li>
        <li><a [routerLink]="['/tourism', 5]" routerLinkActive="active" ariaCurrentWhenActive="page">
            Μέση διάρκεια παραμονής ανά ταξίδι κατοίκων στο εξωτερικό κατά χώρα προορισμού (Ετήσια)
        </a></li>
        <li><a [routerLink]="['/tourism', 6]" routerLinkActive="active" ariaCurrentWhenActive="page">
            Μέση διάρκεια παραμονής ανά ταξίδι μη κατοίκων στην Ελλάδα κατά χώρα προέλευσης (Ετήσια)
        </a></li>
    </ol>
</nav>